body {
    font-size: 100%;
    margin-left: 50px;
}
header #siteName{
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    margin:0px;
    text-transform: capitalize;
    background-color: lightblue;
    border-bottom: 2px solid lightseagreen;
}
#know_more:link{text-decoration:none;}
#know_more:visited {text-decoration:none;}
#know_more:hover {text-decoration:underline;}
ul {
    border-left: 5px solid orange;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}